.c-main-section-info {
  margin-bottom: 98px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 739px 440px;
  justify-content: space-between;
}

.c-main-section-info-paragraph {
  margin-top: 36px;
  color: #565656;
  font-family: Lato;
}

.c-main-section-info-images {
  position: relative;
  margin-top: 75px;
  height: 248px;
}

.c-main-section-info-image-second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-main-section-info-questions {
  display: grid;
  justify-content: space-between;
  grid-template-rows: 202px;
  grid-template-columns: 52% 38%;
  margin-bottom: 64px;
}

.c-main-section-info-questions-people {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 17% 1fr;
  padding-right: 88px;
  border-right: 10px dotted #FFECB3;
}

.c-main-section-info-questions-people h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  color: #565656;
}

.c-main-section-info-questions-people p {
  color: #565656;
}

.c-main-section-info-questions-puzzle img {
  position: relative;
  bottom: 42px;
}

.c-main-section-info-questions-puzzle section {
  margin-left: 64px;
  position: relative;
  bottom: 42px;
}

.c-main-section-info-questions-puzzle h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  color: #565656;
}

.c-main-section-info-questions-puzzle p {
  color: #565656;
}
