.o-teacher-card {
  text-align: center;
  width: 242px;
  display: grid;
  grid-template-rows: 188px 1fr;
}

.o-teacher-card header {
  position: relative;
}

.o-teacher-card h4 {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #41BEAD;
  margin-top: 24px;
  margin-bottom: 8px;
}

.o-teacher-card p {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #B2B2B2;
}
