@import '../01settings/settings-colors.scss';

.o-all-elements {
    width: 100wv;
    display: grid;
    grid-template-rows: 74px 1fr 312px;
    background-color: $white;
}

.o-header-container {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: $white;
    z-index: 1;
}

.o-header-section-images {
    display: grid;
    grid-template-columns: 12px 138px;
    column-gap: 16px;
    align-items: center;
}



.o-footer-container {
    background-color: $gray-700;
    border-top: 12px solid $gray-500;
    z-index: 1;
    position: relative;
    display: grid;
    align-items: center;
}


