.o-main-wraper {
    margin-left: 75px;
    margin-right: 75px;
    
    &.enroll {
        position: relative;
        bottom: 58px;
    }
}

.o-main-wrapper-secondary {
    margin-left: 188px;
    margin-right: 188px;
}