#courses {
  background: #ffffff;
  border-radius: 6px;
  border: none;
  color: #565656;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-left: 14px;
  padding-right: 14px;
  appearance: none;
}
